## Хамикоева Ольга, ПИ19-3, Предварительная обработка данных
### Задания для выполнения:
1. Загрузите датасет
2. Сделайте описательную статистику: размер, типы переменных, пустые значения, уникальные имена и т.д.
3. Поработайте с типами переменных. Все числовые значения переведите в формат int.
4. Поработайте со столбцом price. Постройте гистограмму, найдите выбросы (ящиковая диаграмма), удалите аномальные значения, постарайтесь привести к нормальному распределению.
5. Аналогично поработайте и с другими «важными для целевой функции price» параметрами (powerPS, yearOfRegistration, kilometer и т.д). «Важность» докажите через коэффициент корреляции. Сделайте визуализацию.
6. Постройте ящиковые диаграммы зависимости gearbox, fuelType, vehicleType, notRepairedDamage от price. Сделайте выводы. Можно ли убрать значения с малой частотой? Повлияет ли это на дальнейшее исследование?
7. Найдите пропуски. Удалите столбцы, которые содержат большое количество пропусков. В остальных случаях постарайтесь восстановить пропущенные значения.
8. Сохраните полученный датасет и выведете его.

In [1]:
import pandas as pd

In [4]:
# Загружаем датасет
auto_df = pd.read_csv("data/autos.csv", encoding='latin-1')
auto_df

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
371524,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371526,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

In [5]:
# Размер датасета
auto_df.shape

(371528, 20)

In [6]:
# Типы переменных и уникальные значения
pd.concat([
    auto_df.dtypes.rename('data_type'),
    auto_df.apply(lambda x: x.unique()).rename('scale')
], axis = 1)

,data_type,scale
dateCrawled,object,"[2016-03-24 11:52:17, 2016-03-24 10:58:45, 201..."
name,object,"[Golf_3_1.6, A5_Sportback_2.7_Tdi, Jeep_Grand_..."
seller,object,"[privat, gewerblich]"
offerType,object,"[Angebot, Gesuch]"
price,int64,"[480, 18300, 9800, 1500, 3600, 650, 2200, 0, 1..."
abtest,object,"[test, control]"
vehicleType,object,"[nan, coupe, suv, kleinwagen, limousine, cabri..."
yearOfRegistration,int64,"[1993, 2011, 2004, 2001, 2008, 1995, 1980, 201..."
gearbox,object,"[manuell, automatik, nan]"
powerPS,int64,"[0, 190, 163, 75, 69, 102, 109, 50, 125, 101, ..."
model,object,"[golf, nan, grand, fabia, 3er, 2_reihe, andere..."
kilometer,int64,"[150000, 125000, 90000, 40000, 30000, 70000, 5..."
monthOfRegistration,int64,"[0, 5, 8, 6, 7, 10, 12, 11, 2, 3, 1, 4, 9]"
fuelType,object,"[benzin, diesel, nan, lpg, andere, hybrid, cng..."
brand,object,"[volkswagen, audi, jeep, skoda, bmw, peugeot, ..."
notRepairedDamage,object,"[nan, ja, nein]"
dateCreated,object,"[2016-03-24 00:00:00, 2016-03-14 00:00:00, 201..."
nrOfPictures,int64,[0]
postalCode,int64,"[70435, 66954, 90480, 91074, 60437, 33775, 671..."
lastSeen,object,"[2016-04-07 03:16:57, 2016-04-07 01:46:50, 201..."

In [7]:
# Количество пустых значений в каждом столбце
auto_df.isnull().sum()

dateCrawled                0
name                       0
seller                     0
offerType                  0
price                      0
abtest                     0
vehicleType            37869
yearOfRegistration         0
gearbox                20209
powerPS                    0
model                  20484
kilometer                  0
monthOfRegistration        0
fuelType               33386
brand                      0
notRepairedDamage      72060
dateCreated                0
nrOfPictures               0
postalCode                 0
lastSeen                   0
dtype: int64